{% extends 'base.html' %}

{% block content %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-2">Welcome to Football Physician</h1>
        <h4>A platform for helping predict, detect and prevent injuries</h4>
        <br/>
      </div>
    </div>
    <hr>
    <br/>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Get Started Today</h2>
          <p>Welcome to Football Physician, the gateway to enhanced ACL injury management and prevention. Harnessing data analytics, we offer insights into player well-being and game readiness. Register to enroll players, and monitor their health through our user-friendly dashboard. Gain an edge with tailored reports and practical advice to maintain your players at their best.</p>
          {% if user.is_authenticated %} 
          <p><a class="btn btn-secondary" href="{% url 'player'%}" role="button">Try now »</a></p>
          {% else %}
          <p><a class="btn btn-secondary" href="{% url 'register'%}" role="button">Register »</a></p>
          {% endif %}
        </div>
        <div class="col-md-4">
          <h2>Prediction</h2>
          <p>Our predictive analytics tool assesses the risk of an ACL injury for each player. By analysing historical data and current metrics, we can forecast a players risk of ACL injury. This allows coaches and medical staff to make informed decisions about training loads, recovery times, and game-day readiness. Mitigate risks and optimise your players' performance by utilising our prediction system.</p>
          {% if user.is_authenticated %} 
          <p><a class="btn btn-secondary" href="{% url 'injury_prediction'%}" role="button">Try now »</a></p>
          {% else %}
          <p><a class="btn btn-secondary" href="{% url 'register'%}" role="button">Register »</a></p>
          {% endif %}
        </div>
        <div class="col-md-4">
          <h2>Detection</h2>
          <p>Designed for immediate and accurate diagnosis without the wait for hospital consultations. Our system allows for identification of ACL issues promptly, bypassing delays often encountered with external medical evaluations of MRI scans. With this direct access to critical insights, you can initiate tailored recovery plans right away, ensuring swift and informed responses to ACL injuries.</p>
          {% if user.is_authenticated %} 
          <p><a class="btn btn-secondary" href="{% url 'injury_scan_acl'%}" role="button">Try now »</a></p>
          {% else %}
          <p><a class="btn btn-secondary" href="{% url 'register'%}" role="button">Register »</a></p>
          {% endif %}
        </div>
      </div>

    </div> <!-- /container -->

  </main>

{% endblock %}