{% extends 'base.html' %}

{% block content %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-2">Welcome to Football Physician</h1>
        <h4>A platform for helping predict, detect and prevent injuries</h4>
        <br/>
      </div>
    </div>
    <hr>
    <br/>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Get Started Today</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          {% if user.is_authenticated %} 
          <p><a class="btn btn-secondary" href="{% url 'player'%}" role="button">View details »</a></p>
          {% else %}
          <p><a class="btn btn-secondary" href="{% url 'register'%}" role="button">Register »</a></p>
          {% endif %}
        </div>
        <div class="col-md-4">
          <h2>Prediction</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          {% if user.is_authenticated %} 
          <p><a class="btn btn-secondary" href="{% url 'injury_prediction'%}" role="button">View details »</a></p>
          {% else %}
          <p><a class="btn btn-secondary" href="{% url 'register'%}" role="button">Register »</a></p>
          {% endif %}
        </div>
        <div class="col-md-4">
          <h2>Detection</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          {% if user.is_authenticated %} 
          <p><a class="btn btn-secondary" href="{% url 'injury_scan_acl'%}" role="button">View details »</a></p>
          {% else %}
          <p><a class="btn btn-secondary" href="{% url 'register'%}" role="button">Register »</a></p>
          {% endif %}
        </div>
      </div>

    </div> <!-- /container -->

  </main>

{% endblock %}