{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-3">
        <h1>ACL injury scan</h1>
        <br/>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input style="display:none" class="form-control" id="imageInput" type="file" name="image" accept="image/*" required>
            <button type="button" id="customButton" class="btn btn-secondary">Choose File</button>
            {% if img_name %}
            <span id="fileName">{{img_name}}</span>
            {% else %}
            <span id="fileName">No file chosen</span>
            {% endif %}
            <br/>
            <br/>
            <div id="imagePreview">
                {% if image %}
                <img src="{{ image }}" alt="Prepopulated Image" style="max-width: 100%; max-height: 200px;">
                {% endif %}
            </div>
            <br/>
            <br/>
            <button type="submit" class="btn btn-outline-primary">Upload Image</button>
        </form>
    </div>

    {% if injury %}
    <div class="col-md-9">
    <br/>
    <br/>
        <div class="accordion" id="classification">
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <strong>Prediction</strong>
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#classification">
                    <div class="accordion-body">
                        You have a <strong>{{injury}}</strong>.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <strong>Recovery Time</strong>
                </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#classification">
                    <div class="accordion-body">
                        {{ paragraphs.0 }}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <strong>Rehabilitation Advice</strong>
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#classification">
                    <div class="accordion-body">
                        {{ paragraphs.1 }}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <strong>Prevention and Strengthening</strong>
                </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#classification">
                    <div class="accordion-body">
                        {{ paragraphs.2 }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    {% endif %}
</div>

<script>
    // Function to handle file input change event


    function handleFileInputChange(event) {
        // Get the selected file
        const file = event.target.files[0];

        // Create a FileReader object
        const reader = new FileReader();

        // Set up the reader to read the file as a data URL
        reader.readAsDataURL(file);

        // When the file is loaded, display it in the image preview area
        reader.onload = function(event) {
            const imageUrl = event.target.result;
            document.getElementById('imagePreview').innerHTML = '<img src="' + imageUrl + '" alt="Selected Image" style="max-width: 100%; max-height: 200px;">';
            document.getElementById('fileName').textContent = file.name;
        };
    }

    // Attach event listener to the file input element
    document.getElementById('imageInput').addEventListener('change', handleFileInputChange);

    document.getElementById('customButton').addEventListener('click', function() {
        document.getElementById('imageInput').click(); // Trigger the file input click
    });
</script>

{% endblock %}