{% extends 'base.html' %}

{% block content %}

<h1>ACL injury scan</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input style="display:none" class="form-control" id="imageInput" type="file" name="image" accept="image/*" required>
    <button type="button" id="customButton" class="btn btn-secondary">Choose File</button>
    <br/>
    <br/>
    <div id="imagePreview">
        {% if image %}
        <img src="{{ image }}" alt="Prepopulated Image" style="max-width: 100%; max-height: 200px;">
        {% endif %}
    </div>
    {% if img_name %}
    <span id="fileName">{{img_name}}</span>
    {% else %}
    <span id="fileName">No file chosen</span>
    {% endif %}
    <br/>
    <br/>
    <button type="submit" class="btn btn-outline-primary">Upload Image</button>
</form>

{% if injury %}
<div>
{{ injury }}
</div>
{% endif %}

<script>
    // Function to handle file input change event


    function handleFileInputChange(event) {
        // Get the selected file
        const file = event.target.files[0];

        // Create a FileReader object
        const reader = new FileReader();

        // Set up the reader to read the file as a data URL
        reader.readAsDataURL(file);

        // When the file is loaded, display it in the image preview area
        reader.onload = function(event) {
            const imageUrl = event.target.result;
            document.getElementById('imagePreview').innerHTML = '<img src="' + imageUrl + '" alt="Selected Image" style="max-width: 100%; max-height: 200px;">';
            document.getElementById('fileName').textContent = file.name;
        };
    }

    // Attach event listener to the file input element
    document.getElementById('imageInput').addEventListener('change', handleFileInputChange);

    document.getElementById('customButton').addEventListener('click', function() {
        document.getElementById('imageInput').click(); // Trigger the file input click
    });
</script>

{% endblock %}